@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .blogitem-title {
    font-size: 16px;
  }
}

.blogitem-view {
  list-style: none;
  width: 100%; /* Make the child element occupy the entire width of its parent */
  margin: 5px;
  background-color: azure;
  padding: 28px;
  border-radius: 3px;
  line-height: 1.4;
}

.blogitem-title {
  margin-bottom: 5px;
  color: #060b10;
  font-size: 22px;
}

.published-on {
  margin-bottom: 10px;
}
.hr {
  margin-bottom: 5px;
  margin-top: 5px;
}
