.header {
  display: flex;
  padding: 0px 48px;
  background-color: white;
  color: black;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  border-bottom: 2px solid #f0f0f0;
}

.nav-link {
  font-weight: 500px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.to:hover {
  zoom: 1.05; /* Increase the value for more zoom */
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .nav-link {
    font-size: 14px;
  }
  .blogs-title {
    font-size: 16px;
    font-weight: bold;
  }
  .header {
    padding: 0px 8px;
  }
}

@keyframes colorFill {
  75% {
    color: #25292e;
  }
  100% {
    color: #25292e;
  }
}

.blogs-title {
  animation: colorFill 15s infinite;
}
